Repository ZetaSingularity/ZetaSpaces, pull requests merged in 2023-05, with the labels that each got.

#52 Merge with upstream
  .github/workflows/ci_suite.yml
  .github/workflows/codeowner_reviews.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/dmi5.yml
  .github/workflows/docker_publish.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/make_changelogs.yml
  .github/workflows/stale.yml
  .github/workflows/update_tgs_dmapi.yml
  code/__DEFINES/flags.dm
  code/__DEFINES/preferences.dm
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/families.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/screentip.dm
  code/datums/status_effects/buffs.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/scanners.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/openspace.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
  code/modules/mob/mob.dm
  code/modules/overmap/planets/planet_types.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/status_bar/status_bar.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/tails.dm
  code/modules/surgery/tools.dm
  html/changelogs/archive/2023-05.yml
  icons/mecha/mecha_equipment.dmi
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/mob/species/misc/fox.dmi
  icons/obj/device.dmi
  icons/obj/surgery.dmi
  interface/skin.dmf
  shiptest.dme
Labels: Sprites, Code Change, DME Edit, Github

#51 Makeshift laser shotgun
  code/datums/components/crafting/recipes.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/guns/energy.dmi
Labels: Sprites, Code Change

#57 Merge with upstream
  _maps/configs/nanotrasen_mimir.json
  _maps/configs/solgov_cricket.json
  _maps/shuttles/shiptest/nanotrasen_mimir.dmm
  code/game/MapData/shuttles/nanotrasen_mimir.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
  html/changelogs/AutoChangeLog-pr-1724.yml
  html/changelogs/AutoChangeLog-pr-1922.yml
  shiptest.dme
Labels: Code Change, DME Edit, Map Change

#58 E-Sword reflection
  modular_zeta/code/modules/eswords/energy_sword.dm
  shiptest.dme
Labels: Code Change, DME Edit
