Repository ZetaSingularity/ZetaSpaces, pull requests merged in 2023-04, with the labels that each got.

#5 Fixing chat by mergins with upstream
  code/__DEFINES/tgs.dm
  code/game/area/ship_areas.dm
  code/modules/tgs/core/README.md
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/serializers.dm
  code/modules/tgs/v5/undefs.dm
  html/changelogs/archive/2023-04.yml
Labels: Code Change

#7 Prefix set in player panel + fix
  code/modules/admin/admin.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/ooc.dm
  code/modules/prefixes/prefixes.dm
  shiptest.dme
Labels: Code Change, Admin, DME Edit

#8 Fixing lines in defines of metacoin
  code/__DEFINES/metacoin.dm
Labels: Code Change

#12 Merge with upstream
  _maps/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/map_catalogue.txt
  _maps/shuttles/shiptest/minutemen_corvus.dmm
  _maps/shuttles/shiptest/nanotrasen_gecko.dmm
  code/datums/ruins/rockplanet.dm
  html/changelogs/AutoChangeLog-pr-1702.yml
  html/changelogs/AutoChangeLog-pr-1842.yml
  html/changelogs/AutoChangeLog-pr-1858.yml
Labels: Code Change, Map Change

#11 Moontan ship
  _maps/configs/nofaction_delta.json
  _maps/shuttles/zeta/nofaction_moontan.dmm
Labels: Map Change

#13 Optimizating of SQL requests
  code/modules/metacoin/metacoin.dm
Labels: Code Change

#16 Fix moontan
  _maps/shuttles/zeta/nofaction_moontan.dmm
Labels: Map Change

#15 Shipmap zenith
  _maps/configs/nofaction_zenith.json
  _maps/shuttles/zeta/nofaction_zenith.dmm
Labels: Map Change

#18 Merge with upstream
  code/controllers/subsystem/overmap.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/shuttles.dm
  code/game/area/areas.dm
  code/game/area/ship_areas.dm
  code/game/atoms.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/proximity.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/shuttle_creator.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/turf.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/objects/dynamic_datum.dm
  code/modules/overmap/objects/outpost.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/overmap/ships/ship_datum.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle.dm
  html/changelogs/AutoChangeLog-pr-1627.yml
  html/changelogs/AutoChangeLog-pr-1702.yml
  html/changelogs/AutoChangeLog-pr-1842.yml
  html/changelogs/AutoChangeLog-pr-1858.yml
  html/changelogs/archive/2023-04.yml
  icons/effects/landmarks_static.dmi
Labels: Sprites, Code Change

#19 zenith update
  _maps/shuttles/zeta/nofaction_zenith.dmm
Labels: Map Change

#17 Deleting & Uploading maps
  _maps/configs/syndicate_buggy.json
  _maps/shuttles/zeta/syndicate_buggy.dmm
Labels: Map Change

#22 New map for SolGov: Zoidel
  _maps/configs/solgov_zoidel.json
  _maps/shuttles/zeta/solgov_zoidel.dmm
Labels: Map Change

#25 Update nanotrasen_osprey.dmm
  _maps/shuttles/shiptest/nanotrasen_osprey.dmm
Labels: Map Change

#27 Merge with upstream
  code/__DEFINES/tgs.dm
  code/__HELPERS/text.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/helper_datums/getrev.dm
  code/datums/holocall.dm
  code/game/objects/items/RPD.dm
  code/game/objects/items/cash.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/atmospherics/machinery/components/binary_devices/pressure_valve.dm
  code/modules/disks/disk.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/simple_animal/friendly/mothroach.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/paperwork/folders.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/shuttle.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/serializers.dm
  html/changelogs/AutoChangeLog-pr-1807.yml
  html/changelogs/AutoChangeLog-pr-1843.yml
  html/changelogs/AutoChangeLog-pr-1864.yml
  html/changelogs/AutoChangeLog-pr-1865.yml
  html/changelogs/AutoChangeLog-pr-1876.yml
  html/changelogs/AutoChangeLog-pr-1877.yml
  html/changelogs/AutoChangeLog-pr-1878.yml
  icons/mob/pets.dmi
  icons/mob/pets_held.dmi
  icons/mob/pets_held_lh.dmi
  icons/mob/pets_held_rh.dmi
  icons/obj/atmospherics/pipes/pipe_item.dmi
  icons/obj/economy.dmi
  icons/obj/stack_objects.dmi
  icons/obj/vehicles.dmi
  shiptest.dme
  sound/voice/lizard/hiss.ogg
  sound/voice/lizard/weh.ogg
  sound/voice/moth/mothchitter.ogg
  sound/voice/moth/mothlaugh.ogg
  sound/voice/moth/mothsqueak.ogg
Labels: Sprites, Code Change, DME Edit, Sound

#30 New map ruin
  _maps/RandomRuins/SpaceRuins/backroom.dmm
Labels: Map Change

#31 Abductors' Mothership
  _maps/configs/abductor_mothership.json
  _maps/shuttles/zeta/abductor_mothership.dmm
  modular_zeta/code/modules/for_ships/abductor/machinery.dm
  modular_zeta/icons/obj/machines/abductor/sleeper.dmi
  modular_zeta/icons/obj/machines/abductor/smes.dmi
  shiptest.dme
Labels: Sprites, Code Change, DME Edit, Map Change

#32 Merge with upstream
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  html/changelogs/archive/2023-04.yml
  icons/mob/lavaland/64x64megafauna.dmi
  icons/mob/lavaland/96x96megafauna.dmi
  icons/mob/lavaland/hierophant_new.dmi
  icons/mob/lavaland/lavaland_elites.dmi
  icons/mob/lavaland/lavaland_elites_64.dmi
  icons/mob/lavaland/lavaland_monsters.dmi
  icons/mob/lavaland/lavaland_monsters_wide.dmi
  icons/mob/lavaland/watcher.dmi
Labels: Sprites, Code Change

#29 Create nofaction Red Cross.dmm
  _maps/configs/independent_red_cross.json
  _maps/shuttles/zeta/nofaction_red_cross.dmm
Labels: Map Change

#35 Redacting abductees
  _maps/configs/abductor_mothership.json
  _maps/shuttles/zeta/abductor_mothership.dmm
  modular_zeta/code/modules/for_ships/abductor/loadout.dm
  shiptest.dme
Labels: Code Change, DME Edit, Map Change

#34 Update red cross map
  _maps/shuttles/zeta/nofaction_red_cross.dmm
Labels: Map Change

#33 Tesla
  _maps/configs/nanotrasen_tesla.json
  _maps/shuttles/zeta/nanotrasen_tesla.dmm
Labels: Map Change

#39 Мерж с апстримом
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  html/changelogs/AutoChangeLog-pr-1885.yml
  html/changelogs/archive/2023-04.yml
  icons/mob/clothing/wings.dmi
Labels: Sprites, Code Change

#40 Мерж с апстримом
  _maps/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/mob/living/simple_animal/hostile/zombie.dm
  html/changelogs/AutoChangeLog-pr-1612.yml
Labels: Code Change, Map Change

#38 Remaked abductor_mothership. Yay.
  _maps/shuttles/zeta/abductor_mothership.dmm
Labels: Map Change

#42 Merge with upstrean
  code/controllers/subsystem/vote.dm
  html/changelogs/AutoChangeLog-pr-1889.yml
Labels: Code Change

#44 helm control
  _maps/shuttles/shiptest/independent_byo.dmm
Labels: Map Change

#45 New Cargo page - Local Retailers
  modular_zeta/code/modules/cargo/packs/zeta.dm
  modular_zeta/icons/obj/crates.dmi
  shiptest.dme
Labels: Sprites, Code Change, DME Edit

#46 Merge with upstream
  _maps/shuttles/shiptest/inteq_colossus.dmm
  _maps/shuttles/shiptest/minutemen_asclepius.dmm
  _maps/shuttles/shiptest/minutemen_corvus.dmm
  code/__DEFINES/overmap.dm
  code/controllers/subsystem/physics.dm
  code/game/machinery/shuttle/shuttle_engine.dm
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/modules/clothing/suits/armor.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  code/modules/overmap/ships/ship_datum.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/shuttle.dm
  code/modules/unit_tests/overmap.dm
  html/changelogs/archive/2023-04.yml
  icons/turf/decals.dmi
  shiptest.dme
  tgui/packages/tgui/interfaces/HelmConsole.js
Labels: Sprites, Code Change, DME Edit, Map Change, tgui

#50 Merge with upstream
  code/__DEFINES/tgs.dm
  code/game/machinery/roulette_machine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/chunking.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
  html/changelogs/AutoChangeLog-pr-1911.yml
  html/changelogs/archive/2023-04.yml
  icons/obj/food/food.dmi
  icons/obj/power.dmi
  icons/obj/stock_parts.dmi
Labels: Sprites, Code Change

#49 Key fix
  _maps/RandomRuins/IceRuins/icemoon_underground_drakelair.dmm
Labels: Map Change
